html,
body {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}


.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.innerContent {
    height: 50%;
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: #3f3f3f54;
    border: solid 1px gray;
    border-radius: 16px;
    position: relative;
    /* Set position relative for stacking context */
    z-index: 2;
    /* Higher z-index to display above shadowContent */
}

.text-content {
    width: 60%;
}

.text-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 1em;
    line-height: 1.5;
}

.image-content {
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.header {
    width: 80%;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Maintain space between elements */
    background-color: #111111;
    border-radius: 10px;
    padding: 0 10px;
    border: solid 1px #444444;
}

.header h1 {
    color: #fff;
    margin: 0;
}

.openButton,
.feedbackButton {
    border: 1px solid #444444;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 12px;
    transition: 500ms;
}

.button-container {
    /* New container for buttons */
    display: flex;
}

.openButton:hover,
.feedbackButton:hover {
    background-color: #444;
    cursor: pointer;
}

.openButton img,
.feedbackButton img {
    margin-right: 6px;
}

.title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px;
}

#blobContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(100px);
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

.blob {
    width: 100%;
    height: 150%;
    max-width: 50%;
    max-height: 75%;
    background: conic-gradient(from 0deg, #FFC0CB, #BFFF00, #FFFF00, #FF6347, #EE82EE, #FFA500);
    border-radius: 50%;
    animation: rotate 60s linear infinite;
}

@keyframes resize {
    from {
        width: 100%;
        height: 150%;
    }

    to {
        width: 50%;
        height: 75%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.headerActions {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}

.feedback-form {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
}

.feedback-form input,
.feedback-form textarea {
    width: 100%;
    padding: 10px 15px;
    /* Updated padding on right side */
    border-radius: 4px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    resize: none;
    box-sizing: border-box;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    outline: none;
    border: 1px solid #555;
    resize: none;
}

.feedback-form button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.feedback-form button:hover {
    background: rgba(0, 0, 0, 0.6);
}